#navbar-container {
  position: sticky;
  top: 0;
  z-index: 1;
  transition: background-color 1s ease-in-out, opacity 0.5s ease-in-out;
}

#navbar-container .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
  padding-right: 17.5%;
}

#navbar-container .navbar-a {
  color: #61CBDF;
  font-family: 'Sometype Mono', monospace;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  padding-right: 48px;
}

#navbar-container span::before {
  counter-increment: number;
  content: "0" counter(number);
  display: block;
  text-align: right;
  opacity: .75;
  font-size: 16px;
}

#navbar-container ul {
  list-style: none;
  counter-reset: number;
}

#navbar-container li {
  float: left;
  transition: all 0.25s ease;
}

#navbar-container ul:hover li {
  opacity: 0.4;
  filter: blur(1px);
}

#navbar-container ul li:hover {
  opacity: 1;
  filter: blur(0px);
}
