.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  z-index: 10;
}

.navbar-a {
  color: #FFF;
  font-family: 'Sometype Mono', monospace;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  padding-right: 48px;
}

.counter::before {
  counter-increment: number;
  content: "0" counter(number);
  display: block;
  text-align: right;
  opacity: .75;
  font-size: 16px;
}

ul {
  list-style: none;
  counter-reset: number;
}

li {
  float: left;
}

span {
  float: left;
  transition: all 0.25s ease;
}

ul:hover span {
  opacity: 0.4;
  filter: blur(1px);
}

ul span:hover {
  opacity: 1;
  filter: blur(0px);
}

.projects-dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #1A191D;
  white-space: nowrap;
  max-width: 15%;
}

.projects-dropdown:hover .dropdown-content {
  display: block;
}

/* Media Queries */

/* Min Width 576px */

@media (min-width: 576px) {
  .dropdown-content {
    max-width: 28%;
  }

  .navbar-a {
    font-size: 20px;
    padding-right: 32px;
  }
}

/* Min Width 768px */

@media (min-width: 768px) {
  .dropdown-content {
    max-width: 30%;
  }

  .navbar-a {
    font-size: 28px;
    padding-right: 48px;
  }
}

/* Min Width 992px */

@media (min-width: 992px) {
  .dropdown-content {
    max-width: 23%;
  }
}

/* Min Width 1200px */

@media (min-width: 1200px) {
  .dropdown-content {
    max-width: 19%;
  }
}

/* Min Width 1400px */

@media (min-width: 1400px) {
  .dropdown-content {
    max-width: 16.5%;
  }
}

/* Min Width 1500px */

@media (min-width: 1500px) {
  .dropdown-content {
    max-width: 15%;
  }
}
