#navbar-container {
  position: sticky;
  top: 0;
  z-index: 1;
  transition: background-color 1s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

#navbar-container .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

#navbar-container .navbar-a {
  color: #61CBDF;
  font-family: 'Sometype Mono', monospace;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  padding-right: 48px;
}

#navbar-container .counter::before {
  counter-increment: number;
  content: "0" counter(number);
  display: block;
  text-align: right;
  opacity: .75;
  font-size: 16px;
}

#navbar-container ul {
  list-style: none;
  counter-reset: number;
}

#navbar-container li {
  float: left;
}

#navbar-container span {
  float: left;
  transition: all 0.25s ease;
}

#navbar-container ul:hover span {
  opacity: 0.4;
  filter: blur(1px);
}

#navbar-container ul span:hover {
  opacity: 1;
  filter: blur(0px);
}

#navbar-container .projects-dropdown {
  float: left;
  overflow: hidden;
}

#navbar-container .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #252428;
  opacity: 0.95;
  white-space: nowrap;
  max-width: 15%;
}

#navbar-container .projects-dropdown:hover .dropdown-content {
  display: block;
}

/* Media Queries */

/* Min Width 400px */

@media (min-width: 400px) {
  #navbar-container .dropdown-content {
    max-width: 32%;
  }

  #navbar-container .navbar-a {
    font-size: 20px;
    padding-right: 32px;
  }

  #navbar-container .navbar {
    margin-top: 8%;
    height: 14vh;
  }
}

/* Min Width 576px */

@media (min-width: 576px) {
  #navbar-container .dropdown-content {
    max-width: 28%;
  }

  #navbar-container .navbar-a {
    font-size: 20px;
    padding-right: 32px;
  }

  #navbar-container .navbar {
    margin-top: 0;
  }
}

/* Min Width 768px */

@media (min-width: 768px) {
  #navbar-container .dropdown-content {
    max-width: 30%;
  }

  #navbar-container .navbar-a {
    font-size: 28px;
    padding-right: 48px;
  }
}

/* Min Width 992px */

@media (min-width: 992px) {
  #navbar-container .dropdown-content {
    max-width: 23%;
  }
}

/* Min Width 1200px */

@media (min-width: 1200px) {
  #navbar-container .dropdown-content {
    max-width: 19%;
  }
}

/* Min Width 1400px */

@media (min-width: 1400px) {
  #navbar-container .dropdown-content {
    max-width: 16.5%;
  }
}

/* Min Width 1500px */

@media (min-width: 1500px) {
  #navbar-container .dropdown-content {
    max-width: 15%;
  }
}
