body {
  background-color: rgba(26, 25, 29, 0.95);
}

h1 {
  color: #F9812A;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.titles {
  padding-left: 100px;
}

h3 {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-top: 32px;
}

h5 {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-top: 32px;
}

h6 {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.contact-container {
  padding-left: 100px;
}

.email, .linkedin, .github {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
  padding: 16px 0;
}

.github-image {
  margin-left: -5px;
}
