body {
  background-color: rgba(26, 25, 29, 0.95);
}

h1 {
  color: #F9812A;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.titles {
  padding-left: 100px;
}

.project {
  width: 500px;
  height: 350px;
  background-color: #F0F0F3;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 10%;
  width: 80%;
  position: absolute;
  top: 40%;
  left: 5%;
}

.projects-list:hover .project {
  opacity: 0.5;
  filter: blur(1px);
}

.projects-list .project:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.1);
}

.vloyal-logo {
  display: block;
  margin: auto;
}

.vloyal-wave {
  position: relative;
  bottom: 36px;
}

.supperclub-logo {
  display: block;
  margin: auto;
  position: relative;
  top: 16px;
}

.supperclub-wave {
  position: relative;
  bottom: -24px;
}
