body {
  background-color: rgba(26, 25, 29, 0.95);
  overflow-x: hidden;
}

h1 {
  color: #F9812A;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.titles {
  padding-left: 100px;
}

.text-left {
  padding-top: 32px;
}

h3 {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-bottom: 32px;
}

p {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.tags-left {
  padding-top: 32px;
}

.screenshot {
  width: 240px;
  height: 485px;
}

.screenshots-right {
  width: 70%;
  padding: 3% 2% 0 2%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 6%;
  row-gap: 16px;
}

.container {
  display: flex;
}

.container-left {
  position: sticky;
  top: 0;
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  padding: 0 100px;
}
